/** @format */

:root {
	--color-description: #000000ad;
	--color-meta: #00000066;
	--color-btn-background: #7726ed;
	--color-primary-accent: #5b34da;
	--color-primary: #000;
	--color-background: #fff;
	--color-secondary-accent: #358ef1;
}

[data-theme='dark'] {
	--color-meta: invert(#03020266);
	--color-description: invert(#000000ad);
	--color-btn-background: #7726ed;
	--color-primary-accent: #9d86e9;
	--color-secondary-accent: #61dafb;
	--color-primary: #fff;
	--color-background: #000;
}

[data-theme='batman'] {
	--color-primary-accent: #ffff00;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: var(--color-background);
	color: var(--color-primary);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
