/** @format */

.nav {
	height: 50px;
	padding: 10px;
	background: var(--color-secondary-accent);
	color: var(--color-primary);
	border: 1px solid var(--color-secondary-accent);
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.nav ul li a {
	margin: 5px 15px;
}
